/***** Reset Styles *****/

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: ProximaNova, Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:black;
}

figure img{
  vertical-align: top;
}

input:focus, textarea:focus {
  outline: none;
}


/***** Font *****/

@font-face {
  font-family: "ProximaNova";
  src: url("Proxima\ Nova\ Font.otf") format("opentype");
}

/***** Utility classes *****/


/* Container  */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Container X-large */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-center {
  text-align: center;
}

.pt-120 {
  padding-top: 120px;
}

.pt-140 {
  padding-top: 140px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-140 {
  padding-bottom: 140px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-130 {
  margin-top: 130px;
}

.mb-10 {
  margin-bottom: 10px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vertical-align-center {
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.bg-primary-color {
  background-color: #141720;
}

.wrapper {
  max-width: 450px;
}

.title {
  font-size: 28px;
  line-height: 0.93;
  letter-spacing: 1px;
  color: white;
}

.content {
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.5px;
  color:white;
}

.detail-icon {
  height: 50px;
  width:50px;
}

.detail-title {
  font-size: 20px;
  line-height: 1.3;
  color: #141720;
}

.btn {
  padding:10px 30px;
  background-color: #c71222;
  color:white;
  border-radius: 100px;
  border:none;
  cursor: pointer;
}

.btn:disabled {
  opacity:0.5;
  cursor:not-allowed;
}

/* Big Computers */
@media (min-width: 991px) {

  .lg-float-right {
    float: right;
  }

  .lg-float-left {
    float: left;
  }

  .lg-w-50 {
    width: 50%;
  }

  .lg-w-50-vw {
    width: 50vw;
  }

  .lg-w-100 {
    max-width: 100%;
  }

  .lg-ml-auto {
    margin-left: auto;
  }

  .lg-wrapper {
    max-width: 450px;
  }
}


/***** Header *****/

header {
  position: fixed;
  background-color:white;
  z-index: 10;
  padding:20px 0px;
}

.logo {
  font-size: 20px;
  color: #141720;
}

.hamburger-icon {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 20px;
}

.hamburger-icon span {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 100%;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  background-color: black;
}

.hamburger-icon span:first-child {
  top: 0;
}

.hamburger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-icon span:last-child {
  bottom: 0;
}

.hamburger-icon.active span:first-child {
  transform: rotate(45deg) translate(3px, 9px);
}

.hamburger-icon.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active span:last-child {
  transform: rotate(-45deg) translate(3px, -9px);
}

.navbar {
  display: none;
}

.active {
  display: block;
}

.overlay {
  background-color: rgba(0, 0, 0,0.7);
  position: fixed;
  height:100%;
  width:100%;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar ul li {
  margin-top: 15px;
}

.navbar ul li a:hover {
  border-bottom:1px solid #c71222;
}

.nav-active {
  border-bottom:1px solid #c71222;
}

/* Laptops */
@media (min-width: 991px) {
  .navbar {
    display: block;
  }

  .navbar ul li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px;
    line-height: 20px;
  }

  .hamburger-icon {
    display: none;
  }

  .overlay {
    display: none;
  }
}

/***** Hero *****/

.hero {
  height: 100vh;
  max-height: 700px;
}

.hero h1 {
  font-size: 44px;
  letter-spacing: 1px;
  color:#141720;
  text-transform: uppercase;
}

.hero p {
  font-size: 25px;
  letter-spacing: 0.5px;
  color:#5d5f65;
}

/* Animation */

.animation-init {
  opacity: 0;
  transform:translateY(20px);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.animate {
  opacity: 1;
  transform:translateY(0px);
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

@media (min-width: 991px) { 
  .hero p {
    line-height: 2.4;
  }
}


/***** About Us *****/


@media (min-width: 991px) { 
  .about-us {
    height: 700px;
    background:fixed url("images/about-us/about-us.png") no-repeat top right/cover;
    -webkit-box-shadow: inset 50vw 0 #141720;
    -moz-box-shadow: inset 50vw 0 #141720;
    box-shadow: inset 50vw 0 #141720;
  }

  .about-us figure {
    display: none;
  }

}

/***** Timeline *****/

.timeline {
  overflow-x: hidden;
}

.timeline-content-wrapper {
  height:600px;
}

.timeline ul {
  position: relative;
  padding-top: 20px;
}

.timeline ul::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color:#d4d4d4;
  top: 0;
  height: 100%;
  left: 50%;
}

/* 
  * Padding-top : 20px;
  * Margin-top : 130px;
  * Circle height : 17px;
  * 20 + 130 + 17 = 167
*/
.ul-progress0::after {
  -webkit-box-shadow: inset 0 167px #c71222;
  -moz-box-shadow: inset 0 167px #c71222;
  box-shadow: inset 0 167px #c71222;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

/* 
  * Last Element's height = 167
  * Margin-top : 50px;
  * Circle height : 17px;
  * 167 + 50 + 17 = 234 
*/
.ul-progress1::after {
  -webkit-box-shadow: inset 0 234px #c71222;
  -moz-box-shadow: inset 0 234px #c71222;
  box-shadow: inset 0 234px #c71222;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

/* 
  * Last Element's height = 234
  * Margin-top : 100px;
  * Circle height : 17px;
  * 234 + 100 + 17 = 351 
*/
/* 100 + 17 */
.ul-progress2::after {
  -webkit-box-shadow: inset 0 351px #c71222;
  -moz-box-shadow: inset 0 351px #c71222;
  box-shadow: inset 0 351px #c71222;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.timeline-data {
  height: 17px;
  line-height: 17px;
  position: relative;
  display: block;
  cursor: pointer;
}

.right-text {
  position: absolute;
  left:50%;
  margin-left: 20px;
  color:#141720;
  font-size: 16px;
}

.left-text {
  position: absolute;
  right:50%;
  margin-right: 20px;
  color: #d4d4d4;
  font-size: 16px;
}

.circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: solid 4px #d4d4d4;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  position:absolute;
  left:50%;
  margin-left:-7px;
  z-index: 1;
}

.timeline-active .left-text {
  color: #c71222;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.timeline-active .circle {
  border: solid 4px #c71222;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.timeline-text {
  font-size: 16px;
  line-height: 1.63;
}

.timeline-content h2 {
  color:#2b2b2b;
}

.timeline-content p {
  color:#5d5f65;
}

.timeline-content-init {
  display: none;
}

.timeline-content-active {
  display: block;
  animation: slideFromRight;
  animation-duration: 1s;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Mobiles */
@media (max-width: 576px) { 
  .timeline ul::after {
    left: 40%;
  }
  .right-text {
    left:40%;
  }
  
  .left-text {
    right:60%;
  }
  
  .circle {
    left:40%;
  }
}


/***** Hiring *****/

@media (min-width: 991px) { 
  .hiring {
    height:700px;
    background:fixed url("images/hiring/hiring.png") no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset -50vw 0 #141720;
    -moz-box-shadow: inset -50vw 0 #141720; 
    box-shadow: inset -50vw 0 #141720;
  }

  .hiring figure img {
    display: none;
  }
}



/***** Services *****/

.services {
  background-color:#efefef;
}

.services h2 {
  color:#2b2b2b;
}

.services ul {
  font-size: 0;
}

.services ul li{
  font-size: initial;
  display: inline-block;
  width: calc(100%/3 - 10px);
}

.detail-container p {
  color:#5d5f65;
}

/* Mobiles */
@media (max-width: 576px) { 
  .services ul li{
    display: block;
    width: 100%;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .services ul li{
    display: block;
    width: 70%;
    margin:30px auto 0px;
  }
}

/* Big Tablets */
@media (min-width: 769px) and (max-width: 991px) {
  .services ul li{
    display: block;
    width: 80%;
    margin: 30px auto 0px;
  }
}

@media (min-width: 991px) {
  .services ul li:not(:nth-child(3n)) {
    margin-right: 15px;
  }
}


/***** Contact Us *****/

@media (min-width: 991px) { 
  .contact-us {
    height: 700px;
  }

  .contact-us figure img {
    height:700px;
    object-fit:cover;
  }
}

input, textarea, btn {
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.5px;
  color: white;
}

.inputfield {
  border:none;
  border-bottom:1px solid white;
  background: none;
}

#name, #email {
  height: 50px;
  padding:20px 0px 10px;
}

#message {
  height:150px;
  padding:20px 0px 10px;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color:white;
  transform: translateY(-20px);
  transition: 0.2s ease-out;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  transition: 0.2s ease-in;
}

input:focus::-moz-placeholder {
  color:pink;
}

textarea {
  resize: none;
  background: none;
  border:none;
}

textarea::-webkit-scrollbar, .popup-message::-webkit-scrollbar {
  width:5px;
  background-color: white;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb, .popup-message::-webkit-scrollbar-thumb {
  background-color: #c71222;
  border-radius: 20px;
}

.textarea-group {
  text-align: right;
}

.error {
  color:#c71222;
  margin-top: 3px;
  font-size: 12px;
  visibility: hidden;
}

map iframe{
  border: none;
  pointer-events: none;
}

@media (max-width: 576px) { 
  .mapwr {
    height: 500px;
    display: block;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .mapwr {
    height: 500px;
    display: block;
  }
}

/* Big Tablets */
@media (min-width: 769px) and (max-width: 991px) {
  .mapwr {
    height: 500px;
    display: block;
  }
}


.popup {
  position: fixed;
  top:0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.popup-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 600ms ease-out;
  -moz-transition: 600ms ease-out;
  -o-transition: 600ms ease-out;
  transition: 600ms ease-out;
}

.popup-content {
  max-height: 350px;
  max-width:500px;
  margin: auto;
  background-color: white;
  color:black;
  border-radius: 10px;
  padding:10px 10px 20px;
}

.close {
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.userResponseData {
  max-width: 300px;
  margin: 0px auto 20px;
  text-align: initial;
}

.popup-content hr {
  max-width: 300px;
  margin: 20px auto 0px;
  background-color: #d4d4d4;
}

.overlay-body {
  overflow: hidden;
}

@media (max-width: 650px) { 
  .popup-content {
    max-height: 320px;
    max-width:300px;
  }
  .userResponseData {
    max-width: 200px;
  }
  .popup-content hr {
    max-width: 200px;
  }
}

@media (min-width: 900px) { 
  .userResponseData {
    padding: 0px 20px 0px 20px;
  }
}